[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dotenv-linter = "==0.4.0"
pre-commit-hooks = "==4.4.0"
pre-commit = "==3.0.4"
pyyaml = "==6.0"
pymarkdownlnt = "==0.9.8"

[packages]

[requires]
python_version = "3.11"
